*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


.container
{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 8rem;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(background.jpg);
    background-size: cover;
}


.top-heading
{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main-heading
{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;   
}

.sub-heading
{
    color: white;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.form-input
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
}

#userInput
{
    height: 50px;
    width: 300px;
    padding-left: 15px;
    border: none;
    outline: none;
    cursor: text;
    
}

#send-btn
{
    height: 50px;
    width: 70px;
    background-color: green;
    border: 0;
    outline: none;
    cursor: pointer;
    /* padding: 10px; */
}

#send-btn:hover
{
    background-color: rgb(34, 166, 34);
}

#bottom-heading
{
    color: rgb(70, 203, 70);
    font-size: 0.8rem;
}

